* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open-sans";
    background-color: #f1f1f1;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;

    background-color: black;
    align-items: center;

}

.Nav-Icons {
    width: 100px;
    display: flex;


}

.Icon-Links-Nav {
    text-decoration: none;
}

.Icon-Links-Nav i {
    color: black;
    font-size: 15px;
    width: 50px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar .fa-brands:hover {
    background-color: #f1f1f1;
    color: black;
}



.Section1 {
    width: 100%;
    /* height: 25vh; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 16px;

}

.Section1-Text-BlogLife {
    font-size: 55px;
    font-family: "Oswald";

}

.Section1-Text-Item {

    font-weight: 600;
    margin-top: 10px;
    text-align: center;

}

.Section1-Text-Span {
    /*width: 100px;
    height: 27px;*/
    background-color: black;
    display: inline-block;
    color: white;
    padding: 4px;
}

.Section2 {
    height: 1060px;

    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/images/jane.jpeg);
    position: relative;

}

.Section2-Text {
    position: absolute;
    gap: 15px;
    display: flex;
    top: 40%;
    left: 30px;
    flex-direction: column;
    color: white;
}

.Section2-Subscribe-Btn {
    width: 130px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.6;
    cursor: pointer;
}

.Section2-Subscribe-Btn:hover {
    opacity: 3;
}

.Section2-Text-Jane {
    font-size: 40px;
}

.Section2-Text-Fashion {
    font-size: 60px;

}

.Section-Container {
    padding-left: 40px;
    padding-right: 40px;

}

.Section3 {

    display: flex;
    justify-content: space-between;
    margin-top: 20px;


}

.Section3-Box1 {
    width: 68%;


}

.Section3-Box2 {
    width: 30%;

}

.Section3-Box1-Text {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Section3-Box1-Title-Heading {
    font-size: 23px;
    font-weight: 400;
}

.Section3-Box1-Title-Description {
    font-size: 19px;
}

.Section3-Box1-Photo1 {
    width: 100%;
    margin-top: 20px;
}

.Section3-Box1-Item1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: white;

}

.Section3-Box1-Title-Description {
    font-weight: 400;
    font-size: 18px;
    font-family: "Oswald";
}

.Section3-Box1-Title-Heading {
    font-size: 24px;
    font-family: "Oswald";
}

.Section3-Box1-Item1-Text {
    font-size: 18px;
    padding-top: 20px;
    text-align: justify;

}

.Same-Btn {
    border: solid 0.5px black;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    background-color: white;
}

.Same-Btn:hover {
    background-color: #ccc;
}

.Like-Btn {
    width: 90px;

}

.Like-Btn-Text {
    display: inline-block;
    padding-left: 5px;
}

.Replay-Btn {
    width: 120px;



    background-color: black;
    color: white;
}

.Replay-Btn:hover {
    color: black;
}

.Replay-Btn-Number {

    margin-left: 15px;

    padding-top: 2px;
    width: 25px;
    height: 23px;
    display: inline-block;
    border: solid 1px black;
    color: black;
    background-color: white;
}

.Section3-Box1-Item1-Buttons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    height: 100px;
}

.Button-Border {
    border-bottom: 1px solid gainsboro;
}

.Section3-Box1-Item1-Bottom {
    display: flex;
    margin-top: 20px;

}

.Item1-Bottom-Photo {
    width: 100px;
    margin-bottom: 20px;
}

.Item1-Bottom-Text {
    margin-left: 40px;
    font-size: 18px;
    line-height: 40px;
    margin-top: 20px;
}

.Same-Date-Text {
    color: gray;
    display: inline-block;
}

.Same-Speciality {
    margin-top: 40px;
}

.Same-Margin {
    margin-top: 15px;
}


.Section3-Box2-Photo1 {
    width: 100%;
    height: 250px;
    vertical-align: middle;
    border-style: none;

}

.Section3-Box2-Photo-Box {
    width: 100%;
    height: 160px;
    background-color: black;



}

.Section3-Box2-Photo-Heading {
    color: white;
    padding-top: 10px;
    padding-left: 20px;

}

.Section-Box2-Photo-Text {
    color: white;
    font-size: 17px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.Section3-Box2-Box-Headings {

    height: 70px;
    background-color: black;
    color: white;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 23px;
}

.Section3-Box2-Popular-Posts {
    height: 85px;
    background-color: white;

    gap: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.Section3-Box2-Popular-Posts:hover {
    background-color: #ccc;
}

.Section3-Box2-Same-Type {
    margin-top: 50px;

}

.Popular-Post-Photos {
    width: 50px;
    margin-left: 15px;


}

.Popular-Post-Text-Box {
    display: inline-block;

}

.Popular-Post-Text1 {
    font-size: 20px;
}

.Popular-Post-Text2 {
    font-size: 18px;
}

.Section3-Box2-Item2 {

    height: 300px;

    background-color: white;

}

.Advertise-Box {

    padding: 20px;
    width: 100%;
    height: 230px;

}

.Advertise-Box-Child {

    width: 100%;
    height: 190px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.Section3-Box2-Item3 {

    height: 230px;
    background-color: white;

}

.Tag-Text-Box {
    padding: 20px;
}

.Tag-Text-Box-Item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;








}

.Tag-Text {
    font-size: 13px;
    padding-top: 2px;
    color: #000;
    background-color: #f1f1f1;

    width: 70px;
    display: inline-block;
    text-align: center;

}

.Tag-width {

    display: flex;
    gap: 10px;

}

.Section3-Box2-Item4 {

    /* height: 370px; */
    background-color: white;
}

.Inspiration-Photo {
    width: 47%;

}

.Inspiration-Box {
    display: flex;

    height: 300px;

    padding: 20px;
}

.Inspiration-Photo-Box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;




}

.Inspiration-Photo-Box-Item {
    justify-content: space-around;
    width: 100%;
    display: flex;

}

.Section3-Box2-Item5 {


    background-color: white;
}

.Follow-Icons {
    color: black;
    size: 10px;
    font-size: 23px;
    letter-spacing: 3px;

}

.Follow-Icons-Box {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.Follow-Icons-Box .fa-brands:hover {
    opacity: 0.7;
}

.Section3-Box2-Item6 {


    background-color: white;
}


.Input-Email {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    font-size: 15px;
    border: solid 1px gainsboro;

}

.Section3-Box2-Item6-Subscribe-Btn {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    color: #fff;
    background-color: #f44336;
    border: none;
    font-size: 16px;
    cursor: pointer;

}

.Section3-Box2-Item6-Subscribe-Btn:hover {
    background-color: #ddd;
    cursor: pointer;
    color: black;
}

.Subscribe-Box-Item {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 20px;


}

.Subscribe-Common-Box {
    width: 100%;
}

.Input-Email {
    margin-top: 15px;

}


.Subscribe-Box-Text {
    font-size: 17px;

}

.Footer {
    width: 100%;
    height: 180px;
    color: #fff;
    background-color: #616161;
    margin-top: 25px;

}

.fa-arrow-up {
    padding-right: 5px;
}

.Footer-Top-Link {
    text-align: center;
    padding-top: 15px;
    display: inline-block;
    width: 145px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 17px;
    margin-top: 30px;

}

.Footer-Top-Link:hover {
    color: black;
    background-color: #ddd;
}

.Footer-Link {
    color: white;
    font-size: 17px;
}

.Footer-Box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width:1200px) {



    .Section1-Text-BlogLife {
        font-size: 52px;
    }

    .Section2 {

        height: 830px;


    }

    .Section2-Text {
        top: 35%;
    }

    .Section3 {
        margin-top: 35px;
    }

    .Section3-Box1 {
        width: 64%;
    }



    .Section3-Box2 {
        width: 33%;
    }

    .Section3-Box2-Same-Type {
        margin-top: 40px;

    }

    .Section3-Box2-Photo1 {

        height: 200px;



    }

    .Inspiration-Photo-Box {

        gap: 19px;
    }


    .Footer {
        height: 200px;
    }

}

@media(max-width:992px) {
    .Section2 {
        height: 700px;
    }

    .Section3 {
        flex-direction: column;
    }

    .Section3-Box1 {
        width: 100%;
    }

    .Section3-Box2-Item1 {
        margin-top: 25px;
    }

    .Section3-Box2-Photo1 {

        height: 450px;



    }

    .Section3-Box2-Photo-Box {

        height: 130px;




    }

    .Section3-Box2 {
        width: 100%;
    }

    .Inspiration-Box {
        margin-left: 15px;
        height: 610px;
    }

    .Inspiration-Photo-Box {

        gap: 30px;
    }
}

@media(max-width:768px) {


    .Section2 {

        height: 500px;


    }

    .Section3-Box2-Photo1 {

        height: 380px;



    }

    .Section3-Box2-Popular-Posts {
        height: 80px;

    }


    .Section3-Box2-Item3 {

        height: 170px;


    }

    .Inspiration-Box {
        margin-right: 10px;
        height: 500px;
    }

}

@media(max-width:768px) {

    .Navbar {
        display: none;
    }

    .Section2 {

        height: 370px;


    }

    .Section1-Text-BlogLife {
        font-size: 49px;
    }

    .Section2-Text-Fashion {
        display: none;
    }

    .Section3-Box2-Photo1 {

        height: 280px;



    }

    .Inspiration-Photo-Box {

        gap: 15px;
    }

    .Inspiration-Box {

        height: 320px;
    }

    .Inspiration-Photo {
        width: 48%;

    }
    
}